In [1]:
import pandas as pd
from IPython.display import display
pd.set_option('display.max_columns', 99)
pd.set_option('display.max_rows', 200)

In [2]:
date_feature = [
                'DAYS_BIRTH',
                'DAYS_REGISTRATION',
                'DAYS_ID_PUBLISH',
                'DAYS_EMPLOYED'
                ]

other_feature = [
                'CODE_GENDER',
                'NAME_EDUCATION_TYPE',
                'NAME_FAMILY_STATUS',
                'NAME_HOUSING_TYPE'
                ]

keys = date_feature + other_feature

In [3]:
test  = pd.read_csv('../input/application_test.csv.zip',
                    usecols=['SK_ID_CURR']+keys)


# new key
test['DAYS_BIRTH-m-DAYS_REGISTRATION'] = test['DAYS_BIRTH'] - test['DAYS_REGISTRATION']
test['DAYS_REGISTRATION-m-DAYS_ID_PUBLISH']   = test['DAYS_REGISTRATION'] - test['DAYS_ID_PUBLISH']
test['DAYS_ID_PUBLISH-m-DAYS_EMPLOYED']   = test['DAYS_ID_PUBLISH'] - test['DAYS_EMPLOYED']

keys2 = ['DAYS_BIRTH-m-DAYS_REGISTRATION', 'DAYS_REGISTRATION-m-DAYS_ID_PUBLISH',
         'DAYS_ID_PUBLISH-m-DAYS_EMPLOYED'] + other_feature

tmp = test[test.duplicated(keys2, False)].sort_values(keys2)

# duplicated user

In [4]:
tmp

,SK_ID_CURR,CODE_GENDER,NAME_EDUCATION_TYPE,NAME_FAMILY_STATUS,NAME_HOUSING_TYPE,DAYS_BIRTH,DAYS_EMPLOYED,DAYS_REGISTRATION,DAYS_ID_PUBLISH,DAYS_BIRTH-m-DAYS_REGISTRATION,DAYS_REGISTRATION-m-DAYS_ID_PUBLISH,DAYS_ID_PUBLISH-m-DAYS_EMPLOYED
41228,402926,F,Secondary / secondary special,Married,House / apartment,-12588,-1504,-1998.0,-4943,-10590.0,2945.0,-3439
44778,427665,F,Secondary / secondary special,Married,House / apartment,-12620,-1536,-2030.0,-4975,-10590.0,2945.0,-3439
24419,277874,M,Incomplete higher,Married,House / apartment,-11275,-1100,-1519.0,-3575,-9756.0,2056.0,-2475
33319,342870,M,Incomplete higher,Married,House / apartment,-11324,-1149,-1568.0,-3624,-9756.0,2056.0,-2475
11836,185981,M,Secondary / secondary special,Married,House / apartment,-16256,-4127,-7196.0,-4461,-9060.0,-2735.0,-334
23895,273946,M,Secondary / secondary special,Married,House / apartment,-16239,-4110,-7179.0,-4444,-9060.0,-2735.0,-334

In [5]:
ix = tmp.index

In [6]:
test  = pd.read_csv('../input/application_test.csv.zip')

# duplicated user( full columns)

In [7]:
test.iloc[ix]

,SK_ID_CURR,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,AMT_GOODS_PRICE,NAME_TYPE_SUITE,NAME_INCOME_TYPE,NAME_EDUCATION_TYPE,NAME_FAMILY_STATUS,NAME_HOUSING_TYPE,REGION_POPULATION_RELATIVE,DAYS_BIRTH,DAYS_EMPLOYED,DAYS_REGISTRATION,DAYS_ID_PUBLISH,OWN_CAR_AGE,FLAG_MOBIL,FLAG_EMP_PHONE,FLAG_WORK_PHONE,FLAG_CONT_MOBILE,FLAG_PHONE,FLAG_EMAIL,OCCUPATION_TYPE,CNT_FAM_MEMBERS,REGION_RATING_CLIENT,REGION_RATING_CLIENT_W_CITY,WEEKDAY_APPR_PROCESS_START,HOUR_APPR_PROCESS_START,REG_REGION_NOT_LIVE_REGION,REG_REGION_NOT_WORK_REGION,LIVE_REGION_NOT_WORK_REGION,REG_CITY_NOT_LIVE_CITY,REG_CITY_NOT_WORK_CITY,LIVE_CITY_NOT_WORK_CITY,ORGANIZATION_TYPE,EXT_SOURCE_1,EXT_SOURCE_2,EXT_SOURCE_3,APARTMENTS_AVG,BASEMENTAREA_AVG,YEARS_BEGINEXPLUATATION_AVG,YEARS_BUILD_AVG,COMMONAREA_AVG,ELEVATORS_AVG,...,BASEMENTAREA_MEDI,YEARS_BEGINEXPLUATATION_MEDI,YEARS_BUILD_MEDI,COMMONAREA_MEDI,ELEVATORS_MEDI,ENTRANCES_MEDI,FLOORSMAX_MEDI,FLOORSMIN_MEDI,LANDAREA_MEDI,LIVINGAPARTMENTS_MEDI,LIVINGAREA_MEDI,NONLIVINGAPARTMENTS_MEDI,NONLIVINGAREA_MEDI,FONDKAPREMONT_MODE,HOUSETYPE_MODE,TOTALAREA_MODE,WALLSMATERIAL_MODE,EMERGENCYSTATE_MODE,OBS_30_CNT_SOCIAL_CIRCLE,DEF_30_CNT_SOCIAL_CIRCLE,OBS_60_CNT_SOCIAL_CIRCLE,DEF_60_CNT_SOCIAL_CIRCLE,DAYS_LAST_PHONE_CHANGE,FLAG_DOCUMENT_2,FLAG_DOCUMENT_3,FLAG_DOCUMENT_4,FLAG_DOCUMENT_5,FLAG_DOCUMENT_6,FLAG_DOCUMENT_7,FLAG_DOCUMENT_8,FLAG_DOCUMENT_9,FLAG_DOCUMENT_10,FLAG_DOCUMENT_11,FLAG_DOCUMENT_12,FLAG_DOCUMENT_13,FLAG_DOCUMENT_14,FLAG_DOCUMENT_15,FLAG_DOCUMENT_16,FLAG_DOCUMENT_17,FLAG_DOCUMENT_18,FLAG_DOCUMENT_19,FLAG_DOCUMENT_20,FLAG_DOCUMENT_21,AMT_REQ_CREDIT_BUREAU_HOUR,AMT_REQ_CREDIT_BUREAU_DAY,AMT_REQ_CREDIT_BUREAU_WEEK,AMT_REQ_CREDIT_BUREAU_MON,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_YEAR
41228,402926,Cash loans,F,N,Y,1,90652.5,225000.0,15903.0,225000.0,Unaccompanied,Commercial associate,Secondary / secondary special,Married,House / apartment,0.018801,-12588,-1504,-1998.0,-4943,NaN,1,1,1,1,1,0,Sales staff,3.0,2,2,THURSDAY,12,0,0,0,0,0,0,Business Entity Type 3,0.744575,0.567663,0.799297,0.0825,0.0789,0.9752,0.6600,0.0102,0.16,...,0.0789,0.9752,0.6645,0.0103,0.16,0.1379,0.1667,0.2083,0.0560,0.0684,0.0719,0.0,0.0,reg oper account,block of flats,0.0556,Panel,No,1.0,0.0,1.0,0.0,-687.0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0
44778,427665,Cash loans,F,N,Y,1,104323.5,225000.0,15772.5,225000.0,NaN,Commercial associate,Secondary / secondary special,Married,House / apartment,0.018801,-12620,-1536,-2030.0,-4975,NaN,1,1,1,1,1,0,Sales staff,3.0,2,2,MONDAY,9,0,0,0,0,0,0,Business Entity Type 3,0.763560,0.454474,0.786267,0.0825,0.0789,0.9752,0.6600,0.0102,0.16,...,0.0789,0.9752,0.6645,0.0103,0.16,0.1379,0.1667,0.2083,0.0560,0.0684,0.0719,0.0,0.0,reg oper account,block of flats,0.0556,Panel,No,4.0,0.0,4.0,0.0,-719.0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0.0,0.0,1.0,1.0
24419,277874,Cash loans,M,Y,Y,2,157500.0,225000.0,11619.0,225000.0,Unaccompanied,Working,Incomplete higher,Married,House / apartment,0.019101,-11275,-1100,-1519.0,-3575,6.0,1,1,1,1,0,0,Security staff,4.0,2,2,WEDNESDAY,15,0,0,0,0,1,1,Security,0.269414,0.311206,0.353988,0.1134,0.1122,0.9791,0.7144,0.0467,0.00,...,0.1122,0.9791,0.7182,0.0470,0.00,0.2759,0.1667,0.2083,0.0904,0.0941,0.1193,0.0,0.0,reg oper account,block of flats,0.1177,"Stone, brick",No,0.0,0.0,0.0,0.0,-458.0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0.0,0.0,1.0,0.0
33319,342870,Cash loans,M,Y,Y,2,135000.0,52128.0,5602.5,45000.0,Unaccompanied,Commercial associate,Incomplete higher,Married,House / apartment,0.019101,-11324,-1149,-1568.0,-3624,6.0,1,1,0,1,0,0,Security staff,4.0,2,2,WEDNESDAY,13,0,0,0,0,1,1,Security,0.302021,0.219565,0.394495,0.1134,0.1122,0.9791,0.7144,0.0467,0.00,...,0.1122,0.9791,0.7182,0.0470,0.00,0.2759,0.1667,0.2083,0.0904,0.0941,0.1193,0.0,0.0,reg oper account,block of flats,0.1177,"Stone, brick",No,0.0,0.0,0.0,0.0,-507.0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0.0,0.0,1.0,1.0
11836,185981,Cash loans,M,N,Y,0,90000.0,1024807.5,33187.5,832500.0,Unaccompanied,Working,Secondary / secondary special,Married,House / apartment,0.035792,-16256,-4127,-7196.0,-4461,NaN,1,1,0,1,0,1,Laborers,2.0,2,2,FRIDAY,13,0,0,0,0,0,0,Business Entity Type 3,NaN,0.665246,0.586740,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,0.0,1.0,0.0,-1852.0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
23895,273946,Cash loans,M,Y,Y,0,81000.0,139230.0,12897.0,112500.0,Unaccompanied,Working,Secondary / secondary special,Married,House / apartment,0.035792,-16239,-4110,-7179.0,-4444,10.0,1,1,0,1,0,0,Laborers,2.0,2,2,TUESDAY,9,0,0,0,0,0,0,Business Entity Type 3,NaN,0.662122,0.511892,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,0.0,1.0,0.0,-1835.0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0